@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Tiny5&display=swap');


body {
  background-color: aliceblue;
}

.title-parent {
  color: #f6f6f6;
  display: flex;
  flex-direction: column;
}

.title-child {
  font-family: 'Pokemon Solid', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffcc00;
  -webkit-text-stroke: 2px black;
}


.shopping-page {
  display: flex;
  justify-content: space-around;
}

.product-card {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  width: 15%; /* Adjust width for responsiveness */
  border: 1px solid #121111;
  color: rgb(59, 24, 230);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: transform 0.5s ease, box-shadow 0.3s ease; /* Added box-shadow transition */
}

.product-card:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow for better hover effect */
}

.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
